body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#structure {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#main {
    padding: 50px;
}

#main h2 {
    font-size: 2em;
    padding: 25px;
}

button {
    font-size: 20px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient( 45deg, #25a5e6, #0d3ecc);
    color: aliceblue;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #292b30;
    cursor: pointer;
}

header {
    display: inline-block;
    color: #9d44fd;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* background-clip: text; */
    padding-bottom: 5px;
    margin-bottom: -5px;
    background-image: linear-gradient( 45deg, #ff9fe1, #9d44fd 50%, #8727ff);
    font-size: 3em;
}

#display {
    text-align: center;
    display: flex;
}

#assignments {
    margin: auto;
    color: linear-gradient( 45deg, #25a5e6, #0d3ecc);
    margin-top: 0px;
    margin-bottom: 0px;
}


/* #alist h2 {
    border: solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
} */

#labs {
    margin: auto;
    color: linear-gradient( 45deg, #25a5e6, #0d3ecc);
}


/* #lablist h2 {
    border: solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
} */