/* HEADER */

body {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

h1 {
    text-align: center;
}

#main {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* margin: auto; */
    text-align: center;
    /* justify-content: space-between, space-evenly, space-around; */
}


/* Name Form */


/* Email Form */

#email {
    margin: 25px;
}


/* Phone Form */

#phone {
    margin-top: 30px;
    margin: 25px;
}


/* Message Form */

#message {
    /* display: flex;
    align-items: flex-start; */
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}


/* Submit Button */

#submit {
    text-align: center;
}


/* Terms */

#terms {
    margin: 25px;
}

#asteriks {
    color: red;
}