/* HEADER */

body {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

h1 {
    text-align: center;
}

#main {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    text-align: center;
}


/* Name Form */


/* Email Form */


/* Phone Form */


/* Message Form */


/* Submit Button */