body {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#list ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#main {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

#item,
#price {
    /* display: flex;
    align-content: center;
    flex-direction: column; */
    /* width: 300px; */
    margin: auto;
    padding: 5px;
}

#url {
    margin: auto;
    padding: 5px;
    margin-bottom: 0px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

#req {
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 25px;
    color: red;
}

#extra {
    color: red;
}

#button {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

#delete {
    margin-bottom: 20px;
}


/* Data */

#inventory-list {
    width: 800px;
}