body {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    font-family: 'Syncopate', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(78, 78, 247, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#list ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#main {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

#movie-form {
    background-color: azure;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    margin: auto;
    box-shadow: 2px 2px 4px #000000;
}

h1 {
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header {
    margin-left: 200px;
}

#item,
#price {
    /* display: flex;
    align-content: center;
    flex-direction: column; */
    /* width: 300px; */
    margin: auto;
    padding: 5px;
}

#url {
    margin: auto;
    padding: 5px;
    margin-bottom: 0px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

#req {
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 60px;
    color: red;
}

#stretch {
    color: #eee;
    font-size: 1.5em;
}

span {
    color: red;
}

button {
    font-family: 'Syncopate', sans-serif;
}

#button {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Syncopate', sans-serif;
}

#delete {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 40px;
    background-color: #333;
    color: aliceblue;
}

#delete:hover {
    background-color: #eee;
    color: black;
}

#reset,
#delete {
    font-family: 'Syncopate', sans-serif;
}

#reset:hover,
#delete:hover {
    cursor: pointer;
}


/* Data */

#data ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0px;
}

.imaged img {
    width: 220px;
    height: 326px;
}

.movie-remove:hover {
    cursor: pointer;
    background-color: red;
    color: aliceblue;
}

#submit {
    margin-right: 10px;
    background-color: #4CAF50;
    color: whitesmoke;
}

#submit:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
}