body {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#list ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#main {
    text-align: center;
}

#item,
#price,
#url {
    /* display: flex;
    align-content: center;
    flex-direction: column; */
    /* width: 300px; */
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}