html {
    width: 100%;
    height: auto;
}

header {
    text-align: center;
}

body {
    background: url(stacked-waves-haikei.svg) no-repeat;
    background-size: cover;
}

#title {
    font-size: 5em;
}

.row {
    margin: 50px;
}

#sites {
    display: flex;
    justify-content: space-evenly;
}

#sites a {
    color: beige;
}

#carousel {
    display: flex;
    margin: auto;
    width: 600px;
    height: 650px;
    justify-content: space-evenly;
    padding: 50px;
}

#carousel img {
    padding: 50px;
}

.col {
    text-align: left;
}

h3 {
    text-align: center;
}

#frame {
    text-align: center;
}