html {
    width: 100%;
    height: auto;
}

header {
    text-align: center;
}

body {
    background: url(stacked-waves-haikei.svg) no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont;
}

#title {
    font-size: 5em;
}