html {
    width: 100%;
    height: auto;
}

header {
    text-align: center;
}

body {
    background: url(stacked-waves-haikei.svg) no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont;
}

#title {
    font-size: 5em;
}

.row {
    margin: 50px;
}

#sites {
    display: flex;
    justify-content: space-evenly;
}

#carousel {
    display: flex;
    margin: auto;
    width: 300px;
    height: 350px;
    justify-content: space-evenly;
    padding: 50px;
}